In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

from sklearn.model_selection import train_test_split
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score

In [2]:
df = pd.read_csv('mail_data.csv')
df.head()

  Category                                            Message
0      ham  Go until jurong point, crazy.. Available only ...
1      ham                      Ok lar... Joking wif u oni...
2     spam  Free entry in 2 a wkly comp to win FA Cup fina...
3      ham  U dun say so early hor... U c already then say...
4      ham  Nah I don't think he goes to usf, he lives aro...

In [3]:
df.isna().sum()

Category    0
Message     0
dtype: int64

In [4]:
df = df.where((pd.notnull(df)),'')

In [5]:
df.isna().sum()

Category    0
Message     0
dtype: int64

In [6]:
df.replace({'Category':{'spam':0,'ham':1}},inplace = True)

In [7]:
df.head()

   Category                                            Message
0         1  Go until jurong point, crazy.. Available only ...
1         1                      Ok lar... Joking wif u oni...
2         0  Free entry in 2 a wkly comp to win FA Cup fina...
3         1  U dun say so early hor... U c already then say...
4         1  Nah I don't think he goes to usf, he lives aro...

In [8]:
X = df['Message']
Y = df['Category']

In [9]:
x_train,x_test,y_train,y_test = train_test_split(X,Y,test_size = 0.2, random_state = 3)

In [10]:
df.shape

(5572, 2)

In [12]:
feature_extraction = TfidfVectorizer(min_df = 1, stop_words = 'english', lowercase = 'True')

In [13]:
x_train_features = feature_extraction.fit_transform(x_train)
x_test_features = feature_extraction.transform(x_test)

In [ ]:
print(x_train_features)

In [ ]:
print(x_test_features)

In [19]:
model = LogisticRegression()

In [20]:
model.fit(x_train_features,y_train)

LogisticRegression()

In [22]:
y_train_pred = model.predict(x_train_features)

In [23]:
accuracy_score(y_train,y_train_pred)

0.9670181736594121

In [24]:
y_test_pred = model.predict(x_test_features)

In [25]:
accuracy_score(y_test,y_test_pred)

0.9659192825112107

In [33]:
# Predictive System

input = ["WINNER!! As a valued network customer you have been selected to receivea Â£900 prize reward! To claim call 09061701461. Claim code KL341. Valid 12 hours only."]

input_feature = feature_extraction.transform(input)

# input_arr = np.asarray(input_feature)

# input_arr = input_arr.reshape(1,-1)

prediction = model.predict(input_feature)

prediction

array([0], dtype=int64)